<p>
Onam is the harvest festival that brings all of a Malayalee family together. This 10-day long festival is celebrated with great pomp and fervour in Kerala. The festival falls during the Malayalam month of Chingam (Aug – Sep) and marks the commemoration of Vamana Avatara of God Vishnu and homecoming of the mythical King Mahabali.
</p>
<p>
Although Onam is a harvest festival, there is a myth attached to it. There is a tale why the people of Kerala prepare the grand lunch-they want Mahabali to feast at their homes. The story begins in the land of backwaters when everyone in the kingdom of the King Mahabali lived happily. Prosperity, well being and happiness were the key feature of the good land. There was no discrimination on the basis of caste, class, rich and poor. The myth also says that people did not even lock their doors when they went out as there were no thieves.
</p>
<p>
However, the growing popularity and fame of King Mahabali planted jealousy in the minds of Gods who became extremely concerned. Taking advantage of the kind king’s nature, Lord Vishnu disguised as Vamana went to the king and asked for a piece of land. The generous King said that he could have as much land as he wanted although the Brahmin needed just 3 steps of land. As soon as the King granted land to the Brahmin, he started growing in cosmic proportions. That is when the King understood that he was not a ordinary Brahmin. The first step of Lord Vishnu covered the world, second the whole of the skies. He then asked King Mahabali space for him to keep his third foot
</p>
<p>
Mahabali with folded hands bowed before Vamana and asked him to place his last step on his head so that he could keep the promise. The Brahmin placed his foot on the head of the King, who pushed him to patala, the nether world. But the King asked for something before he was killed, he requested the Lord to allow him to visit his subjects at least once in a year. Malayalees believe that Mahabali visit them every Onam and hence celebrate the festival.

</p>
<p>
OnaSadya
</p>


<p>
The mention of Onam brings in the sight of the banana leaf filled with hot pipping dishes. OnaSadhya is an art in itself. About 22 to 26 dishes are made and are served on the green leaf with brown rice and papadum (papad). Sambha, Avial, Parippucurry, Rasam being some of the well known ones, sweets include Payasam (kheer). The lunch is nothing less that a grand feast.
</p>

<p>
Pookalam
</p>


<p>
Pookalam is a floral carpet made in various designs on all the ten days of the festival. It is similar to a rangoli, only that the color powders are replaced with colorful flowers. People make it in front of their houses on the mud, Malayalees who reside outside Kerala lay Pookalam inside their houses due to space constraints.
</p>


<p>
<img src="Avial.jpg"/>
</p>